<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Scanning</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div #square class="square">
    <div class="square_without_borders">
      <img src="assets/images/square.png" style="max-width: 75%;" />
    </div>
  </div>
  <!-- <div class="zoom-ratio-wrapper">
    <ion-range
      [min]="minZoomRatio"
      [max]="maxZoomRatio"
      [disabled]="minZoomRatio === undefined || maxZoomRatio === undefined"
      (ionChange)="setZoomRatio($any($event))"
    ></ion-range>
  </div>
  @if (isTorchAvailable) {
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button (click)="toggleTorch()">
        <ion-icon name="flashlight"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  } -->
  <div class="list_div">
    <div *ngIf="barcodeArr.length > 0" class="list_header">
      <span>{{getCompletedItemCount()}}</span> <span>of</span> <span>{{barcodeArr.length}}</span> <span>scanned</span>
    </div>
    <div *ngIf="barcodeArr.length > 0" class="main_card">
      <ng-container *ngFor="let item of barcodeArr">
        <div class="item-card" [ngClass]="{'green-border': item.isComplete, 'blue-border': !item.isComplete}">
          <div class="item-name-with-icon">
            <ion-icon name="checkbox" class="tick-icon" [color]="item.isComplete?'success':'light'"></ion-icon>
            <div class="item-name">{{ item.name }}</div>
          </div>
          <div class="quantity-box" [ngClass]="{'green-box': item.isComplete, 'black-box': !item.isComplete}">
            <span class="scanned-quantity">{{ item.scannedQuantity }}</span> /
            <span class="expected-quantity">{{ item.expectedQuantity }}</span>
          </div>
        </div>
      </ng-container>



    </div>

    <div *ngIf="showNotification" class="custom-notification">
      {{ notificationMessage }}
    </div>

    <div *ngIf="barcodeArr.length === 0" class="scan-prompt">
      <ion-icon name="qr-code" class="scan-icon"></ion-icon>
      <p>Start scanning items</p>
      <p>Barcodes and QR codes are supported</p>
    </div>

    <div class="button-container">
      <span *ngIf="barcodeArr.length === 0" (click)="closeModal()" class="close-button">
        close
      </span>
      <span *ngIf="barcodeArr.length > 0" (click)="completeOrder()" class="complete-button">
        Complete
      </span>
    </div>
  </div>
</ion-content>