<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Barcode Scanning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ⚡️ Capacitor plugin for scanning barcodes and QR codes.
    </ion-card-content>
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-button
          fill="clear"
          (click)="openOnGithub()"
          class="ion-float-right"
          >GitHub</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Demo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formGroup">
     
        <!-- <ion-item>
          <ion-label position="fixed">Lens Facing</ion-label>
          <ion-select formControlName="lensFacing">
            <ion-select-option [value]="lensFacing.Front"
              >Front</ion-select-option
            >
            <ion-select-option [value]="lensFacing.Back"
              >Back</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"
            >Google Barcode Scanner Module Install State</ion-label
          >
          <ion-input
            formControlName="googleBarcodeScannerModuleInstallState"
            type="number"
            [readonly]="true"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed"
            >Google Barcode Scanner Module Install Progress</ion-label
          >
          <ion-input
            formControlName="googleBarcodeScannerModuleInstallProgress"
            type="number"
            [readonly]="true"
          ></ion-input>
        </ion-item> -->
        <ion-button
          expand="block"
          (click)="startScan()"
          [disabled]="!isSupported"
          >Start Scan</ion-button
        >
        
        <!-- <ion-button
          expand="block"
          (click)="readBarcodeFromImage()"
          [disabled]="!isSupported"
          >Read Barcode From Image</ion-button
        >
        <ion-button expand="block" (click)="scan()" [disabled]="!isSupported"
          >Scan</ion-button
        >
        <ion-button
          expand="block"
          (click)="openSettings()"
          [disabled]="!isSupported"
          >Open Settings</ion-button
        >
        <ion-button
          expand="block"
          (click)="installGoogleBarcodeScannerModule()"
          [disabled]="!isSupported"
          >Install Google Barcode Scanner Module</ion-button
        >
        <ion-button
          expand="block"
          (click)="requestPermissions()"
          [disabled]="isPermissionGranted"
          >Request Permissions</ion-button
        > -->
      </form>
    </ion-card-content>
  </ion-card>
  